dart/.dart_tool/
**/.DS_Store
.DS_Store
.AppleDouble
.LSOverride
.bsp/
.classpath
.metals/
.project
.settings/
.vscode/
project/project/
project/target/

._*
*~
.Trash-*

.env

ktc-web/writable/

ktc-web/php_errors.log
ktc-web/tests/coverage*
ktc-web/phpunit
ktc-web/vendor/
node_modules/
ktc-web/node_modules/

ktc-web/_modules/*
ktc-web/.php-version

ktc-web/.vscode/

ktc-web/results/
ktc-web/phpunit*.xml
ktc-web/.phpunit.*.cache

target/classes
target/generated-test-sources
target/*.jar
target/maven-status
target/surefire-reports
target/generated-sources
target/jacoco.exec
target/maven-archiver
target/site/jacoco/*.text
target/site/jacoco/*.ui
target/site/jacoco/*.html
target/site/jacoco/jacovo*
!target/site/jacoco/.gitignore
target/test-classes
